html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
  max-width: 100%;
}

body {
  font-family: "Inter", sans-serif;
  font-family: "League Spartan", sans-serif;
  background-color: black;
}

a {
  text-decoration: none;
}

.container {
  width: 100%;
  padding: 20px;
  min-width: 1200px;
}

.home {
  background-color: orange;
}

/* Nav */

.nav-img {
  position: absolute;
}

.nav-img img {
  width: 100px;
  height: 100%;
}

.nav {
  display: flex;
}

.nav-a {
  width: 100%;
  background-color: black;
  padding: 34px 150px;
}

.nav-a a {
  font-size: 18px;
  color: white;
  padding: 0 20px;
}

.nav a:hover {
  color: aqua;
}

/* Home */

.container-H2 {
  color: blueviolet;
  text-align: center;
}
.home-cont h3 {
  text-align: center;
  margin-top: 10px;
}

.home-images {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.home-images img {
  width: 300px;
  height: 300px;
}

.plan-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 15px;
}

.plan-container h6 {
  background-color: blue;
  border: 3px solid white;
  padding-bottom: 5px; 
  font-size: 24px;
}

.home-cont h1 {
  text-align: center;
  color: blueviolet;
}

/* Sobre mi */

.sobremi {
  padding: auto;
  text-align: center;
  color: blueviolet;
}

.photos {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.photos img {
  width: 450px;
  height: 450px;
}

/*Recetas saladas y dulces*/

.contenedor h1 {
  text-align: center;
  color: blueviolet;
  padding: 20px;
}

#listarecetas {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.contenedor a:hover {
  color: aqua;
}

.contenedor a {
  color: white;
}

.fotoreceta img {
  width: 20px;
  height: auto;
}

.nombreRecetas {
  background-color: blue;
  margin: 10px;
  padding: 10px 70px 10px 70px;
  border-radius: 20px;
  text-size-adjust: 7px;
}

.cuerpoReceta1 {
  padding: 20px;
  margin: 0 10px 0 10px;
  background-color: gray;
}

.tartadeatun {
  padding: 10px;
}

.contenedor {
  background-color: orange;
}

.finalPagina {
  padding-left: 10px;
}

.contenedor .cuerpoReceta1 {
  display: flex;
  justify-content: space-between;
}

.fotoreceta {
  display: block;
  margin-top: 10px;
}

.cuerpoReceta1 .ingredientes li {
  list-style: none;
}

.volverMenu a {
  color: black;
  margin-left: 15px;
}

.volverMenu a:hover {
  color: white;
}
.fotoreceta {
  width: 200px;
  border: 1px solid;
  border-radius: 10px;
}

.preparacion {
  margin-right: 50px;
}

.TituloImagen {
  margin-left: 50px;
}

.menurecetas {
  display: block;
}

#listarecetas {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.proximamente {
  display: flex;
  justify-content: center;
}

/* Turno y consulta */

h1{
  color: blueviolet;
}
.turnos p {
  text-align: left;
  color: black;
  line-height: 25px;
  margin-left: 2%;
}

legend {
  color: black;
}

.TextoNegrita {
  line-height: 50px;
}

.calendario {
  text-align: center;
  width: 300px;
  margin-left: 2%;
  margin-top: 2%;
}

.turnos ol {
  color: black;
  background-color: rgb(255, 255, 255, 0.3);
  list-style: none;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  padding: 0;
}

.DiaSemana {
  background: blueviolet;
  font-weight: bold;
  text-align: center;
  padding-top: 10%;
}

.PrimerDia {
  grid-column-start: 6;
  padding-top: 10%;
}

.turnos li {
  padding-top: 10%;
}

form {
  margin-left: 2%;
  margin-top: 1%;
  margin-bottom: 1%;
}

.turnos a {
  margin-left: 2%;
}

select {
  width: 200px;
}

/* Contacto */

.cont-h1 {
  text-align: center;
  color: blueviolet;
}

.comentario {
  padding: 1rem;
  width: 100%;
  height: 50%;
}

.contacto {
  margin: 5px;
}

.button {
  text-decoration: none;
}

.enviar {
  background-color: blue;
  color: white;
  margin: 5px 0px;
}

/* Footer */

footer {
  display: grid;
  text-align: center;
  grid-template-columns: repeat(3, 1fr);
  background-color: black;
  color: white;
}

footer h3 {
  padding: 20px 0;
}

footer img {
  width: 30px;
  height: 30px;
  margin: 10px;
  cursor: pointer;
}

.linea {
  border: 1px solid aqua;
  width: 190px;
  margin: auto;
}

.info-pag {
  display: flex;
  gap: 60px;
  justify-content: center;
}

.alum,
.prof {
  text-align: left;
}

span {
  color: aqua;
}
